@mixin box-shadow($shadows...) {
  @if length($shadows) == 0 {
    $shadows: 0 0 0 1px $white, 0 0 0 3px currentColor;
  }
  box-shadow: $shadows;
}
@mixin transitions($effects...) {
  @if length($effects) == 0 {
    $effects: all ease-in-out 150ms;
  }
    transition: $effects;
}
@mixin border-radius($radius: 3px) {
  border-radius: $radius;
}
@mixin borders($border: 1px solid map-get($gray, light)) {
  border: $border;
}
@mixin no-box-shadow {
    box-shadow: none;
}
// breakpoints
@mixin breakpoint($bp) {
  @if $bp == xlarge {
    @media (min-width: 70em) { @content ; }
 }
  @else if $bp == large {
    @media (min-width: 64em) { @content ; }
 }
   @else if $bp == medium {
    @media (min-width: 50em) { @content ; }
 }
  @else if $bp == small {
    @media (min-width: 37.5em)  { @content ; }
 }
 @else if $bp == xsonly {
    @media (max-width: 37.5em)  { @content ; }
 }
}
