@import "variables";
@import "mixins";
@import "extends";

html {
  padding: 2.875rem;
  background-color: #f7f7f7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: #18A2D0;
}
